.job {
    display: grid;
    grid-template-columns: auto auto;
    flex: 1;
    place-items: center;
}

.job-item {
    background-color: #78828C;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: grid;
    height: 60px;
    padding: 0 10px 0 10px;
    place-items: center;
    text-align: center;
    width: 150px;
}

.job-item.hovered {
    /* Adjust the hover background color as needed */
    background-color: #8C7C78;
}

.job-description {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    bottom: 0;
    color: #ffffff;
    font-size: 0.9em;
    justify-content: center;
    left: 0;
    margin: auto;
    max-height: 95%;
    max-width: 40%;
    padding: 10px;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
}

@media (max-width: 1299px) {
    .job-description {
        max-width: 50%;
    }
    .job-item {
        height: 55px;
        padding: 0 8px 0 8px;
        width: 100px;
    }
}

@media (max-width: 991px) {
    .job-description {
        font-size: 0.95em;
        max-width: 65%;
    }
    .job-item {
        height: 50px;
        padding: 0 6px 0 6px;
        width: 80px;
    }
}

@media (max-width: 767px) {
    .job-description {
        font-size: 0.95em;
        max-width: 80%;
    }
    .job-item {
        height: 45px;
        padding: 0 4px 0 4px;
        width: 60px;
    }
}

@media (max-width: 575px) {
    .job-description {
        font-size: 1em;
        max-width: 95%;
    }
    .job-item {
        height: 40px;
        padding: 0 2px 0 2px;
        width: 50px;
    }
}