.job-path-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.job-path-job {
    border: 1px solid #ccc;
    padding: 10px;
}

.job-path {
    background-color: #2d5688;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    height: 40px;
    /* Vertically center the text by matching height */
    line-height: 40px;
    overflow: hidden;
    text-align: center;
    width: 150px;
}

.job-path.hovered {
    background-color: #28708e;
}

.job-path-description {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: #ffffff;
    left: 50%;
    max-width: 600px;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}