.sub-title {
    font-size: 1.1em;
    padding-left: 10px;
}

.title {
    font-size: 1.7em;
    padding-left: 10px;
}
.app {
    font-size: 14px;
}

.app h1 { font-size: 2em; }
.app h2 { font-size: 1.8em; }
.app h3 { font-size: 1.6em; }

@media (max-width: 1299px) {
    .app {
        font-size: 12px;
    }
}

@media (max-width: 991px) {
    .app {
        font-size: 10px;
    }
}

@media (max-width: 767px) {
    .app {
        font-size: 8px;
    }
}

@media (max-width: 575px) {
    .app {
        font-size: 7px;
    }
}